main{
  text-align: justify;
}

#eval colgroup :first-child{
    width: 15% !important;
}
h1{color: #29849a;}
h2{color: #9a2984;}
#title-block-header{
    color: #849a29;
    /*background-image: url(ds-plot.svg);
    background-size: 130px;
    background-position: right;
    background-repeat: no-repeat;*/       
}
figcaption{
    text-align: center;
}
/* Para cambiar algunas variables en el estilo de los diagramas con mermaid */
/*:root {
    --mermaid-node-bg-color: #83c58f;
  }*/
.div-float{
    /* float: right; */
    width: 100%;
    /* margin-left: 1em; */
}
abbr{
    text-decoration: none;
}