project:
  type: book
  output-dir: docs
  preview: 
    browser: true
    
book:
  title: "Ciencia de Datos"
  author: "Ader Villar"
  google-analytics: "G-JBLWWCLEGX"
  #date: today
  chapters:
    - index.qmd
    - part: "An치lisis Exploratorio"
      chapters:
      - r-intro.qmd
      # - r-inferencia.qmd # uso de r para inferencia cl치sica
      - uso-ggplot2.qmd
      - uso-dplyr.qmd
      # - prueba.qmd
    - part: "Inferencia cl치sica"
      chapters: 
        - r-prob.qmd
        - r-estimacion.qmd
        - r-hipotesis.qmd
    - part: "Regresi칩n lineal"
      chapters:
        - reg-simple.qmd
        - reg-multiple.qmd
    - references.qmd

bibliography: refs/references.bib
lang: es
author-title: Profesor
reference-location: margin
# df-print: default

format:
  html:
    theme: default
    css: styles/global.css
    class-output: hscroll
    mermaid: 
      theme: default

execute: 
  cache: true
  freeze: true
